.demo-app-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.demo-app-container,
.demo-app-sidenav {
  padding-top: 64px;
  height: calc(100vh - 64px);
}

.toolbar-seprator {
  flex: 1 1 auto;
}

.notification {
  padding: 10px;
  background-color: #f8d7da; // Light red for error
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 15px;  // Add some margin to align with other components
  margin-right: 15px;
}
